{% extends "CRUD_layout.html" %}    
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Edit User</h3><hr>
      <form method='post' action='{{url_for("edit_user",id=datas.ID)}}'>
        <div class='form-group'>
          <label>Username</label>
          <input type='text' name='username' required class='form-control' value='{{datas.username}}'>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}